<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting">
    {% include head.html %}
    <body class="has-push-menu">
        {% include minutes-to-read.html %}
        {% include svg-icons.html %}
        {% include header.html %}
        <section class="post">


            <article role="article" id="post" class="post-content" itemprop="articleBody">
                <p itemprop="post-info" class="post-info">
                    {% if page.date %}
					<font color="#FFFFFF"><marquee direction="left" style="background:BLUE">Siêu Thị Mỹ Phẩm hân hạnh phục vụ Quý Khách!</marquee></font>
                        <svg id="date" class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
						
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">
                            {% include date.html date=page.date %}
                        </time>
                    {% endif %}
                    <svg id="clock" class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
                    <span>{{ minutesText }}</span>
                </p>
                <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                <p itemprop="description" class="subtitle">{{ page.description }}</p>
				

                {% if page.image %}
                    <img src="{{ page.image }}" alt="Imagem de capa" class="post-cover">
                {% endif %}

                {{ content }}
            </article>

            <div class="progress-bar" data-minutes="{{ totalMinutes }}">
                <span class="time-completed"></span>
                <span class="time-remaining"></span>
                <div class="bar">
                    <span class="completed" style="width:0%;"></span>
                    <span class="remaining" style="width:100%;"></span>
                </div>
            </div>
			<marquee id="marq" scrollamount="3" direction="up" loop="50" scrolldelay="0" onmouseover="this.stop()" onmouseout="this.start()">

<a href="Link"><img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.0-9/65520166_1328144850672950_7016732558746451968_n.jpg?_nc_cat=106&_nc_oc=AQkE6lBTeMNVEt7YmpH4792_hnJCA-aE5jfW1cJOe0RTQrHqTygQsHLXVIaUS0qCbto&_nc_ht=scontent.fsgn2-3.fna&oh=2447f893f1dd5d994701482d8d9f43f1&oe=5DB709AF" title="Ghi chú cho ảnh" width="200" height="300"/> </a>


<a href="Link"><img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/65650973_1328705630616872_6831684717432012800_n.jpg?_nc_cat=102&_nc_eui2=AeGh3rDLEOc7R51Q-GUXUbo-KSd94iHw0z_4mQG00EDZH7HDytScKX9Ynu1qVibgHnY5JNP-I7dOOcgZnw3yAIwxU-EJYiB_SLdDLZeE6wXHqw&_nc_oc=AQmDcOHGf71_FsYdggwygPA2ihgpMdfidyOkYQ9sdQieqzQNFmLLG8Xzrf507TY1u8s&_nc_ht=scontent.fsgn2-2.fna&oh=80a8402ff129305fff94b49e35c25485&oe=5DAE3EE7" title="Ghi chú cho ảnh" width="200" height="300"/> </a>


<a href="Link"><img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/66056247_1328143557339746_3335518507411439616_n.jpg?_nc_cat=100&_nc_oc=AQmsh8HRL-3QC5hUntwsRDtELfUcRWz0NUbV3sYgxZASxuZL4p2HpAcVIPWTGukYuOE&_nc_ht=scontent.fsgn2-2.fna&oh=b48a4b3626d37c40ae376fec8014adca&oe=5D7C42A0" title="Ghi chú cho ảnh" width="200" height="300"/> </a>
</marquee>

            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
